<!DOCTYPE html>
{% load static %}
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/logo_img.ico' %}" type="image/png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Job Listing</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{% url 'index' %}">главная</a></li>
				          <li><a href="{% url 'about-us' %}">О нас</a></li>
				          <li><a href="{% url 'contact' %}">Связь</a></li>
						  <li><a href="{% url 'new-job-post' %}">Разместить вакансию</a></li>
							{% if not user.is_authenticated %}
								<li><a class="ticker-btn" href="{% url 'register' %}">Регистрация</a></li>
								<li><a class="ticker-btn" href="{% url 'login' %}">Войти</a></li>
							{% else %}
								<li><a class="ticker-btn" href="{% url 'profile' %}">Профиль</a></li>
								<li><a class="ticker-btn" href="{% url 'logoutfunc' %}">Выйти</a></li>
						  	{% endif %}
				        	</ul>
				      	</nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								<span>{{ last_posts_amount }}</span> Вакансии за последнюю неделю
							</h1>
							<form action="{% url 'index' %}" class="serach-form-area" method="get">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-4 form-cols">
										<input type="text" class="form-control" name="search" placeholder="what are you looging for?" value="{{ request.GET.search }}">
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects">
											<select name="location" value="{{ request.GET.location }}">
												{% for location in locations %}
													<option >{{ location }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects2">
											<select name="category" value="{{ request.GET.category }}">
												{% for cat in cats %}
													<option >{{ cat }}</option>
												{% endfor %}
											</select>
										</div>										
									</div>
									<div class="col-lg-2 form-cols">
									    <button type="submit" class="btn btn-info">
									      <span class="lnr lnr-magnifier"></span> Поиск
									    </button>
									</div>								
								</div>
							</form>
							<p class="text-white">Доступные теги: <span> {% for tag in tags %} <a href="{% url 'tags' slug=tag.slug %}"> {{ tag }}, </a> {% endfor %}</span> </p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start features Area -->
			<section class="features-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4>Поиск</h4>
								<p>
									Мы предоставляем удобный поиск вакансий.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4>Соглашение</h4>
								<p>
									Мы не несем ответственности за конфликты двух сторон
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4>Защита</h4>
								<p>
									Ваши данные хранятся в полной безопасности.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-feature">
								<h4>Никаких затрат</h4>
								<p>
									Вы можете размещать-отвечать на вакансии абсолютно бесплатно!
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End features Area -->
			
			<!-- Start popular-post Area -->
			<section class="popular-post-area pt-100">
				<div class="container">
					<div class="row align-items-center">
						<div class="active-popular-post-carusel">
							{% for post in posts %}
							<div class="single-popular-post d-flex flex-row">
								<div class="thumb">
									<img class="img-fluid" width="119" height="70" src="{% static 'img/money.png' %}" alt="">
									<a class="btns text-uppercase" href="{% url 'single' pk=post.pk %}">Смотреть</a>
								</div>
								<div class="details">
									<a href="#"><h4>{{ post.title }}</h4></a>
									<h6>{{ post.location }}</h6>
									<p>
										 {{ post.info }}
									</p>
								</div>
							</div>
							{% endfor %}
							</div>
						</div>
					</div>
			</section>

			<!-- End popular-post Area -->
			
			<!-- Start feature-cat Area -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Популярные теги</h1>
								<p>Работа найдется везде!</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o1.png' %}" alt="">
								</a>
								<p>Бугалтерия</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o2.png' %}" alt="">
								</a>
								<p>Разработка</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o3.png' %}" alt="">
								</a>
								<p>Технологии</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o4.png' %}" alt="">
								</a>
								<p>СМИ & Медиа </p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o5.png' %}" alt="">
								</a>
								<p>Медицина</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category/">
									<img src="{% static 'img/o6.png' %}" alt="">
								</a>
								<p>Гос.должности</p>
							</div>			
						</div>																											
					</div>
				</div>	
			</section>
			<!-- End feature-cat Area -->
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">
							{% for post in posts %}
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img width="109px" height="69px" src="{% static 'img/crown.png' %}">
									<ul class="tags">
										<li>
											<a href="{% url 'category' slug=post.category.slug %}">{{ post.category }}</a>
										</li>
									</ul>
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="{% url 'single' pk=post.pk %}"><h4 style="margin-left: 15px;">{{ post.title }}</h4></a>
										</div>
									</div>
									<p style="margin-left: 15px;">
										{{ post.info }}
									</p>
									<p class="address" style="margin-left: 15px;">Тэги: {% for tag in post.tags.all %} <a href="{% url 'tags' slug=tag.slug %}"> {{ tag }}</a>{% endfor %}<p>
									<p class="address"><span class="lnr lnr-map" style="margin-left: 15px;"> </span> {{ post.location }}</p>
									<p class="address"><span class="lnr lnr-database" style="margin-left: 15px;"> </span> {{ post.salary }} <span style="margin-left: 70px;">{{ post.published_date }}</span><a href="{% url 'other-profile' pk=post.author.pk %}" style="margin-left: 125px;">{{ post.author.first_name }} {{ post.author.last_name }}</a></p>
								</div>
							</div>
							{% endfor %}
							<div style="margin-left:250px;">
								<span>
									{% if page_obj.has_previous %}
										<a href="?page=1" class="address">&laquo; Первая</a>
										<a href="?page={{ page_obj.previous_page_number }}" class="address">Предыдущая</a>
									{% endif %}
								<span>
									Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
								</span>
									{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}" class="address">Следующая</a>
										<a href="?page={{ page_obj.paginator.num_pages }}" class="address">Последняя &raquo;</a>
									{% endif %}
								</span>
							</div>
						</div>
						<div class="col-lg-4 sidebar">
							<div class="single-slidebar">
								<h4>Лучшие предложения</h4>
								<div class="active-relatedjob-carusel">
									{% for post in posts %}
									<div class="single-rated">
										<img width="300px" height="120px" class="img-fluid" src="{% static 'img/best.png' %}" alt="">
										<a href="{% url 'single' pk=post.pk %}"><h4>{{ post.title }}</h4></a>

										<p>
											 {{ post.info }}
										</p>
										<h5>{{ post.job_nature }}</h5>
										<p class="address"><span class="lnr lnr-map"></span>{{ post.location }}</p>
										<p class="address"><span class="lnr lnr-database"></span> {{ post.salary }} </p>
										<a href="{% url 'single' pk=post.pk %}" class="btns text-uppercase">Перейти</a>
									</div>
									{% endfor %}
								</div>
							</div>

							<div class="single-slidebar">
								<h4>Виды деятельности</h4>
								<ul class="cat-list">
									{% for cat in cats %}
										<li><a class="justify-content-between d-flex" href="{% url 'category' slug=cat.slug %}"><p>{{ cat }}</p><span></span></a></li>
									{% endfor %}
								</ul>
							</div>

							<div class="single-slidebar">
								<h4>Поиск по городу</h4>
								<ul class="cat-list">
									{% for location in locations %}
										<li><a class="justify-content-between d-flex" href="{% url 'location' slug=location.slug %}"><p>{{ location }}</p><span>37</span></a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget">
								<h6>Top Products</h6>
								<ul class="footer-nav">
									<li><a href="#">Managed Website</a></li>
									<li><a href="#">Manage Reputation</a></li>
									<li><a href="#">Power Tools</a></li>
									<li><a href="#">Marketing Service</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget newsletter">
								<h6>Newsletter</h6>
								<p>You can trust us. we only send promo offers, not a single spam.</p>
								<div id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

										<div class="form-group row" style="width: 100%">
											<div class="col-lg-8 col-md-12">
												<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
												<div style="position: absolute; left: -5000px;">
													<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
												</div>
											</div> 
										
											<div class="col-lg-4 col-md-12">
												<button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
											</div> 
										</div>		
										<div class="info"></div>
									</form>
								</div>		
							</div>
						</div>
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget mail-chimp">
								<h6 class="mb-20">Instragram Feed</h6>
								<ul class="instafeed d-flex flex-wrap">
									<li><img src="{% static 'img/i1.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i2.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i3.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i4.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i5.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i6.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i7.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/i8.jpg' %}" alt=""></li>
								</ul>
							</div>
						</div>						
					</div>

					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a><br>
							<a href='https://ru.freepik.com/vectors/crown'>Crown вектор создан(а) upklyak - ru.freepik.com</a> <br>
							<a href='https://.pngtree.com/so/Лучшее'>Лучшее png из pngtree.com/</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->		

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'js/parallax.min.js' %}"></script>
			<script src="{% static 'js/mail-script.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		</body>
	</html>


